<div style="position:absolute;top:20px;right:20px;width:350px;" class="alert alert-success" *ngIf="resetPasswordEmail">
  Reset Password email has been sent to your email
  <span (click)="closeNotification()" style="float:right;cursor:pointer;">X</span>
</div>
<div class="panel panel-default" style="width:400px;margin: 65px auto;background-color:#f8f8f8;">
  <div class="panel-body">
    <div class="alert alert-danger notification" *ngIf="notification">
      {{errMsg}}
      <span (click)="close()">X</span>
    </div>
    <h3 style="width:100%;text-align:center;"><strong>Forgot Password?</strong></h3>
    <br>
    <form #pwdForm="ngForm" (ngSubmit)="onForgotPasswordSubmit(pwdForm.value)" novalidate>
      <p style="text-align:center;">Please enter your email to Reset Password.</p>
      <div class="form-group mt">
        <label>Email</label>
        <input type="text" name="email" class="form-control" required pattern="\S+@\S+" #email="ngModel" ngModel>
      </div>
      <button type="submit" [disabled]="!pwdForm.valid" class="btn btn-md btn-success pull-right">Submit</button>
      <button type="button" class="btn btn-md btn-default pull-left" (click)="goBack()">Back</button>
    </form>
  </div>
</div>
