<div style="margin:0 auto;width:400px;text-align:center;" *ngIf="hashExpiration">
	<h4 style="text-align:center;" class="alert alert-danger">Hash has been expired or doesn't exist</h4>
	<p>Click here to &nbsp; <a (click)="goToLogin()" class="btn btn-success">Login</a></p>
</div>

<div class="panel panel-default" style="width:400px;margin: 75px auto;background-color:#f8f8f8;" *ngIf="resetPasswordForm">
	<div class="panel-body">

	<div class="alert alert-danger notification" *ngIf="notification">
		{{errMsg}}
		<span (click)="close()">X</span>
	</div>

		<h3 style="width:100%;text-align:center;"><strong>Reset Password</strong></h3><br>

		<p *ngIf="pwdConfirmation" style="text-align:center;color:#f00;padding:5px 0px;"><strong>Both passworda are not same</strong></p>

		<form #resetPwdForm="ngForm" (ngSubmit)="onResetPwdSubmit(resetPwdForm.value)" novalidate>

			<div class="form-group">
				<label>Password</label>
				<input type="password" name="password" class="form-control" required minlength="5" #password="ngModel" ngModel>

				<div *ngIf="password.errors && (password.touched || password.dirty)" class="alert alert-danger">
					<div [hidden]="!password.errors.required">
						Please enter Password
					</div>
					<div [hidden]="!password.errors.minlength">
						Password should contain atleast 3 charactars
					</div>
				</div>

			</div>

			<div class="form-group">
				<label style="width:120px;">Confirm Password</label>
				<input type="password" name="confPassword" class="form-control" required minlength="5" #confPassword="ngModel" ngModel>

				<div *ngIf="confPassword.errors && (confPassword.touched || confPassword.dirty)" class="alert alert-danger">
					<div [hidden]="!confPassword.errors.required">
						Please enter Password again
					</div>
					<div [hidden]="!confPassword.errors.minlength">
						Password should contain atleast 3 charactars
					</div>
				</div>

			</div>



			<button type="submit" [disabled]="!resetPwdForm.valid" class="btn btn-md btn-success pull-right">Reset Password</button>

		</form>
		<div class="clearfix"></div>
	</div>
</div>