<h2 class="pull-left">First page</h2>
<button type="button" class="btn btn-danger btn-md pull-right mt" (click)="logout()">Logout</button>
<div class="clearfix"></div>
<p>Here is the First page how it looks !!</p>
<a href="#" class="btn btn-primary pull-left" routerLink="/second/:about" style="margin-right:20px;">Go to Second page</a>
<a href="#" class="btn btn-primary pull-left" routerLink="/first/second">Go to Second page with URL extension</a> <br><br><br>
<a href="#" class="btn btn-primary" routerLink="/third">Go to Third page</a><br><br>
<a href="#" class="btn btn-primary pull-left" routerLink="/crud" style="margin-right:20px;">CRUD operation</a>
<a href="#" class="btn btn-primary pull-left" routerLink="/crud2">CRUD-2 operation</a><br><br><br>
<a href="#" class="btn btn-primary" routerLink="/departments">Route appln</a><br><br>
<a href="#" class="btn btn-primary" routerLink="/io/one">Input Output &amp; Pipes</a><br><br>
<div class="well" style="width:90%;">
	<h4 class="pull-left"><strong>Forms - </strong></h4>
	<a href="#" class="btn btn-primary pull-left" routerLink="/forms/template-driven-forms">Template driven forms</a>
	<a href="#" class="btn btn-primary pull-left" routerLink="/forms/model-driven-forms">Model driven forms</a>
	<a href="#" class="btn btn-primary pull-left" routerLink="/forms/model-driven-forms-with-formBuilder">Model driven forms with formBuilder</a>
	<div class="clearfix"></div>
</div>
<a href="#" class="btn btn-primary" routerLink="/service">Service</a><br><br>
<a href="#" class="btn btn-primary" routerLink="/http">Http</a><br><br>
<a href="#" class="btn btn-primary" routerLink="/mean">MEAN (MongoDB, Express, Angular, Node)</a><br><br>
<a href="#" class="btn btn-primary" routerLink="/sorting">Sorting Lists</a><br><br>
<a href="#" class="btn btn-primary" routerLink="/filter">Filtering lists</a><br><br>
<a href="#" class="btn btn-primary" routerLink="/search">Search</a><br><br>
<a href="#" class="btn btn-primary" routerLink="/pagination">Pagination</a><br><br>
<a href="#" class="btn btn-primary" routerLink="/csv-export">Export CSV</a>
